.header{
    &__wrap{
        max-width: 1400px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
    &__title{
        padding: 10px;
        font-size: 2rem;
        font-weight: bold;
        letter-spacing: 2px;
    }
    &__btnWrapper{
        display: flex;
        align-items: center;
    }
    &__btn {
        height: 35px;
        width: 35px;
        font-size: 1.2rem;
        margin-right: 10px;
        background-color: white;
        border: 1px solid $grey;
        border-radius: 50%;
        padding: 5px;
        .active {
            background-color: yellow;
        }
    }
    &__btn-active {
        background-color: yellow;
    }
}