.main {
    flex-grow: 1;
    width: 100%;
    max-width: 1400px;
    margin: 20px auto;

    .main__wrapper {
        margin: 5px;
        padding: 20px;
        @media(min-width: 800px) {
            width: 60%;
            margin: 0 auto;
        }
    }
}